@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* global styles */
  *::selection {
    @apply bg-secondary/30;
  }

  html {
    @apply text-[1vw] max-lg:text-[1.5vw] max-md:text-[2vw] max-sm:text-[3.5vw];
  }

  body {
    @apply overscroll-y-none bg-background font-body font-light;
  }
}

@layer components {
  .box {
    @apply size-full overflow-hidden rounded-[16px] border border-secondary bg-primary p-6 text-text;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .absolute-center {
    @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

/* General selection styling */
::selection {
  background: #0d47a1; /* Background color when text is selected */
  color: #000; /* Text color when selected */
}

/* For Mozilla Firefox */
::-moz-selection {
  background: #0d47a1;
  color: #000;
}

/* For WebKit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-selection {
  background: #0d47a1;
  color: #000;
}
